{% extends 'base-triagem.html' %}
{% block title %}Cadastrar Novo Paciente{% endblock %}
{% block content %}
    <div class="container vh-100">
        <h1 class="mt-5">
            Cadastrar Novo Paciente
        </h1>
        <hr>
        {% if error %}<p>{{ error }}</p>{% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-12 mb-3">
                    <label for="nome" class="form-label">
                        Nome do paciente:
                    </label>
                    <input type="text" class="form-control" name="nome" id="nome" required>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="cpf" class="form-label">
                        CPF:
                    </label>
                    <input type="text" class="form-control" name="cpf" id="cpf" required>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="data_nascimento" class="form-label">
                        Data de Nascimento:
                    </label>
                    <input type="date" class="form-control" name="data_nascimento" id="data_nascimento" required>
                </div>
                <div class="col-12 mb-3">
                    <label for="sintomas" class="form-label">
                        Sintomas:
                    </label>
                    <textarea class="form-control" name="sintomas" id="sintomas" rows="3" required></textarea>
                </div>
                <div class="d-flex justify-content-start mt-5">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}